@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: rgb(151,255,168);
    background: linear-gradient(90deg, rgba(151,255,168,1) 0%, rgba(105,230,255,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

form{
    margin: 5% 0 5% 0;
    padding: 4%;
    display: block;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.profile_image_card{
    background-color: #3b3b3b;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.default_profile_img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
}

.default_profile_img:hover{
    cursor: pointer;
    opacity: 0.5;
    transition: 0.5s;
}

/*#image_add_btn{
    background: #5df05f;
    border-radius: 999px;
    box-shadow: #5df05f 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
}
#image_add_btn:hover{
    background-color: rgb(0, 67, 155);
    transition: 0.5s;
}*/

#input_profile{
    display: none;
}
.general_info_card{
    background-color: #3b3b3b;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}